.main {
  padding: 8px 20px;
  box-shadow: none !important;
  background-color: #E7E9EB;
  border-radius:5px;
  width: 93%;
  /* margin-left: 160px; */
}

.codeBox {
    border-left: 4px solid #04AA6D;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    width: auto;
    background-color: #fff;color: #000;
    padding: 8px 12px;
    word-wrap: break-word;
}

.line1 {
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px;
}

.line2 {
    text-align: center;
    font-size: xx-large;
    text-shadow: 3px 3px red;
}

.line3 {
    text-align: center;
    font-size: xx-large;
    text-shadow: 3px 3px 5px red ;
}

.line4 {
    text-align: center;
    font-size: xx-large;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.line5 {
    color: white;
    text-align: center;
    font-size: xx-large;
    text-shadow: 0 0 6px #ff00aa;
}

.line6 {
    color: white;
    text-align: center;
    font-size: xx-large;
    text-shadow: 0 0 6px #ff00aa;
}

.line7 {
    color: white;
    text-align: center;
    font-size: xx-large;
    text-shadow: 0 0 6px #ff0000, 0 0 10px #0000ff;
}

.line8 {
    color: white;
    text-align: center;
    font-size: xx-large;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;

}

