body {
  margin: 100px;
  margin-top: 0;
  font-family: "Segoe UI", -apple-system, Arial, Verdana, sans-serif;
  font-size: 16px /*15px*/;
  line-height: 1.5;
}

.formulaRGB {
  font-size: 20px;
  font-weight: bold;
}

.btnText {
  color: white;
  text-decoration-line: none;
  text-align: center;
  /* font-weight: bold; */

  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  /* border: 2px white; */
}

.previousBtn {
  width: 120px;
  height: 45px;
  border: none;
  /* border-radius: 10px; */
  /* padding: 10px; */
  margin-left: 15px;
  margin-right: 820px;

  background-color: #04aa6d;
  border-color: #04aa6d;

  border: 1px solid #cccccc;
  border-radius: 5px;

  padding-left: 5px;
  padding-right: 5px;
}

.nextBtn {
  width: 90px;
  height: 45px;
  border: none;
  /* border-radius: 10px; */
  /* padding: 10px; */

  background-color: #04aa6d;
  border-color: #04aa6d;

  border: 1px solid #cccccc;
  border-radius: 5px;

  padding-left: 5px;
  padding-right: 5px;
}

.mainBox {
  padding: 8px 20px;
  margin: 24px -20px;
  box-shadow: none !important;
  background-color: #e7e9eb;
  border-radius: 5px;
}

.body1 {
    background-image: url("Images/9\ background\ image.jpeg");
    padding: 10px;
}
.body2 {
    background-image: url("Images/10\ background\ image.webp");
    padding: 10px;
}




