.codeBorder {
    border: 2px solid black;
}

.firstPara {
    color: blue;
}

/* this is not working */

/* .link {
    margin-bottom: 0px;
} */

.secondPara {
    background-color: #2aff00;
}

/* if I define the color orange in body, then all the texts that are present under the body tag will be orange */
    
/* body {
  color: orange;
} */

.thirdPara {
    text-align: left;
}

.fourthPara {
  text-align: right;
}

.fifthPara {
  text-align: center;
}

.sixthPara {
  text-align: justify;
}

.seventhPara {
  text-align-last: auto;
}

.eigthPara {
  text-align-last: left;
}

.ninthPara {
  text-align-last: right;
}

.tenthPara {
  text-align-last: center;
}

.eleventhPara {
  text-align-last: justify;
}

.twelvethPara {
  text-align-last: start;
}

.thirteenthPara {
  text-align-last: end;
}

.box {
  border: 1px solid blue;
}

.fourteenthPara {
  vertical-align: auto;
}

.fifteenthPara {
  vertical-align: baseline;
}

.sixteenthPara {
  vertical-align: bottom;
}

.seventeenthPara {
  vertical-align: middle;
}

.eighteenthPara {
  vertical-align: sub;
}

.ninteenthPara {
  vertical-align: super;
}

.twenteethPara {
  vertical-align: text-bottom;
}

.para21 {
  vertical-align: text-top;
}

.para22 {
  vertical-align: top;
}

.para23 {
  vertical-align: -webkit-baseline-middle;
}

.para24 {
  direction: rtl;
  unicode-bidi: bidi-override;
}