.codeBorder {
    border: 2px solid black;
}

.firstPara {
    color: blue;
}

/* this is not working */

/* .link {
    margin-bottom: 0px;
} */

.secondPara {
    background-color: #2aff00;
}

/* if I define the color orange in body, then all the texts that are present under the body tag will be orange */
    
/* body {
  color: orange;
} */

.thirdPara {
    text-align: left;
}

.fourthPara {
  text-align: right;
}

.fifthPara {
  text-align: center;
}

.sixthPara {
  text-align: justify;
}

.seventhPara {
  text-align-last: auto;
}

.eigthPara {
  text-align-last: left;
}

.ninthPara {
  text-align-last: right;
}

.tenthPara {
  text-align-last: center;
}

.eleventhPara {
  text-align-last: justify;
}

.twelvethPara {
  text-align-last: start;
}

.thirteenthPara {
  text-align-last: end;
}