.outputBorder {
  border: 2px solid black;
}

/* text decoration line */

.line1 {
  text-decoration-line: none;
}

.line2 {
  text-decoration-line: overline;
}

.line3 {
  text-decoration-line: underline;
}

.line4 {
  text-decoration-line: line-through;
}

/* text decoration color */

.line5 {
  text-decoration-line: overline;
  text-decoration-color: red;
}

.line6 {
  text-decoration-line: underline;
  text-decoration-color: rgb(29, 173, 0);
}

.line7 {
  text-decoration-line: line-through;
  text-decoration-color: #0011ff;
}

/* text decoration style */

.line8 {
  text-decoration-line: line-through;
  text-decoration-style: solid;
}

.line9 {
  text-decoration-line: overline;
  text-decoration-style: double;
}

.line10 {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.line11 {
  text-decoration-line: line-through overline;
  text-decoration-style: dashed;
}

.line12 {
  text-decoration-line: line-through overline underline;
  text-decoration-style: wavy;
}

.line13 {
  text-decoration-line: overline;
  text-decoration-thickness: 3px;
}

.line14 {
  text-decoration-line: underline;
  text-decoration-thickness: 0.5em;
}

.line15 {
  text-decoration-line: line-through;
  text-decoration-thickness: 100%;
}

/* this is the longest and time taking method */

.line16 {
  text-decoration-line: overline;
  text-decoration-style: double;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
}

.line17Box {
  background-color: black;
  border: 2px solid black;
}

.line17 {
  /* 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-style: italic; 
  font-variant: small-caps; */

  font-size: 50px;
  font-family: "Nosifer", sans-serif;
  color: white;

  text-align: center;
  /* text-decoration-line: line-through;
  text-decoration-style: wavy; */
  text-decoration-line: overline underline;       /* double line will work  */
  text-decoration-style: solid wavy;              /* double style will not work  */
  text-decoration-thickness: 8px;
  text-decoration-color: rgb(255, 221, 0);
}

.inbox {
  text-align: center;
  color: white;
}

/* this is shortest method */

.line18Box {
  background-color: black;
  border: 2px solid black;
}

.line18 {

  font-size: 50px;
  font-family: "Nosifer", sans-serif;
  color: rgb(255, 221, 0);

  text-align: center;
  /* text-decoration: line-through rgb(255, 221, 0) wavy 8px; */
  /* text-decoration: underline white wavy 8px; */
  text-decoration: overline white wavy 8px;
}

