body {
  margin: 60px;
  margin-top: 0px;
}

.mainBox {
  padding: 8px 20px;
  margin: 24px -20px;
  box-shadow: none !important;

  background-color: #e7e9eb;
  border-radius: 5px;
}

.outputBox {
  border-left: 4px solid #04aa6d;
  margin-top: 16px !important;
  margin-bottom: 16px !important;

  width: auto;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
}

.line1 {
  font-size: 20px;
  line-height: 50px;
  word-spacing: 10px;
  letter-spacing: 5px;
}

table {
  border: 1px solid;

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

  text-indent: initial;
  unicode-bidi: isolate;
}
.td1 {
  text-align: left;
}

th,
td {
  padding: 12px;
}

.tdColor {
  background-color: #e5e5e5;
}

.tipBox {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: -32px;
  margin-right: -32px;
  padding: 16px 32px;

  background-color: #ffffcc;
}
